* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    
}
/* Header section starts */



.header-left {
    float: left;
    align-content: center ;
    margin:8px;
}
.header-right {
    float: right;
    align-content: center ;
    display: inline-flex;
    margin-right: 5px;
    margin-top: 0px;
}

header::after {/*clearfix*/
    content: "";
    clear: both;
    display: table;
}

#about,
#store,
#gmail,
#images,
#sign-in,
.header-right a img {
    margin-right: 3px;
    margin: 3px;
    color: black;
    height: 25px;
}

#sign-in {
    background-color: rgba(0, 101, 252, 0.795);
    color: whitesmoke;
    font-weight: 700;
}
.right-header-a {
    margin-top: 8px;
}
header a{
    text-decoration: none;
}


/* Searchbar section starts */

.searchbar {
    border: 2px solid red;
    max-width: 80%;
    height: 80%;
    margin:12% auto 14% auto;
    
    
    
}
.searchbar-div-logo{
    width: fit-content;
    margin: auto;
    margin-bottom: 3rem;
}
#searchbar-logo {
    
    width: 95%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}
.inner-searchbar {
    margin: auto;
    
    height: max-content;
    max-width: 50%;
    
    border: 2px solid grey;
    border-radius: 30px;
    
}

#magnifying-glass {
    float: left;
    margin: 1% 1% 1% 3%;
}
#google-microphone {
    float: right;
    height: 1.1rem;
    margin: 1% 3% 2% 1%;
    
}
#searchbar-input {
    /* border: none; */
    width: 75%;
   
    padding: 1% 1% 1% 1%;
    
}
#searchbar-input:focus {
    outline: none;
  }

.btns {
    width: fit-content;
    margin: 5px auto;
}
#btn1,
#btn2 {
    margin: 10px auto 10px auto;
    background-color: rgba(128, 128, 128, 0.473);
    padding: 7px;
    border-radius: 3px;
}

.lang {
    width: fit-content;
    margin: 5px auto;
}



/* Footer section starts */
footer {
    width: 100%;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.5);
    position: relative;
    bottom: 5px;

}

.footer1 {
    border-bottom: 1px solid gray;
}

.footer2__left {
    float: left;
    margin: 2px;
}
.footer2__right {
    float: right;
}
footer a {
    text-decoration: none;
}